<form>
  <mat-form-field class="full-width">
    <input matInput type="text" mat-input placeholder="Filtrovat Digitální objekty" #filterText>
  </mat-form-field>


</form>
<div style="max-height: 70%">
  <mat-paginator [pageSize]="10" [pageSizeOptions]="[10, 25, 50]" [length]="total_length" #paginator (page)="update_filter()" showFirstLastButtons></mat-paginator>
  <ng-container *ngIf="multiple">Vybráno {{selected_items.length}} objektů</ng-container><br>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 full-width">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Identifikátor</th>
      <td mat-cell *matCellDef="let element"> {{element.id_item}}</td>
    </ng-container>

    <ng-container matColumnDef="mime">
      <th mat-header-cell *matHeaderCellDef> Datový typ MIME</th>
      <td mat-cell *matCellDef="let element"> {{element.mime}}</td>
    </ng-container>

    <ng-container matColumnDef="add">
      <th mat-header-cell *matHeaderCellDef>

      </th>
      <td mat-cell *matCellDef="let element">

        <button *ngIf="!multiple; else multiAdd" mat-icon-button (click)="add_clicked.emit(element.id_item)" [disabled]="is_disabled(element)">
          <mat-icon>add</mat-icon>
        </button>
        <ng-template #multiAdd>
          <mat-checkbox (change)="update_multi(element, $event)" [disabled]="is_disabled(element)">&nbsp;</mat-checkbox>
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef>
        Editovat/Exportovat/Zveřejnit
      </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button (click)="edit_item(element)">
          <mat-icon>edit</mat-icon>
        </button>
        <mat-checkbox (change)="set_key(element, 'export', $event)" [checked]="get_key(element, 'export')"></mat-checkbox>
        &nbsp;
        <mat-checkbox (change)="set_key(element, 'public', $event)" [checked]="get_key(element, 'public')"></mat-checkbox>
      </td>
    </ng-container>

    <a matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Popis</th>
      <td mat-cell *matCellDef="let element">
        <ng-container *ngIf="!click_to_show">{{get_metadata(element, 'description') || element.id_item}}</ng-container>
        <a mat-button *ngIf="click_to_show" [routerLink]="['/items/show', element.id_item]">{{get_metadata(element, 'description') || element.id_item}}</a>
      </td>
    </a>

    <ng-container matColumnDef="preview">
      <th mat-header-cell *matHeaderCellDef> Náhled</th>
      <td mat-cell *matCellDef="let element">
        <app-item-preview [item]="element" [dummy]="true"></app-item-preview>

      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</div>
