.preview {
  max-width: 256px;
  max-height: 256px;
}

.circle-bg {
    background: #c70194;
    border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    color: #ffffff;
    display: inline-block;
    font-weight: bold;
    line-height: 1.6em;
    /*margin-right: 5px;*/
    text-align: center;
    width: 1.6em;

    /*position: relative;*/
    /*left: -8px;*/
    /*top: -8px;*/
}

