<h1 matDialogTitle>Edit annotation</h1>

<mat-dialog-content>
  <table>
    <tr>
      <th>Item ID</th>
      <td>{{data?.id_item}}</td>
    </tr>
    <tr>
      <th>Time</th>
      <td>
        <mat-form-field>
          <input type="number" matInput [(ngModel)]="data.time" name="time">
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <th>Text</th>
      <td>
        <mat-form-field>
          <input type="text" matInput [(ngModel)]="text" name="text">
        </mat-form-field>

      </td>
    </tr>
  </table>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button (click)="save()">Save</button>
  <button mat-raised-button matDialogClose="undefined">Cancel</button>
</mat-dialog-actions>

