<form *ngIf="item !== undefined">
  <table>
    <tr>
      <th>ID</th>
      <td>{{item.id_item}}</td>
    </tr>
    <tr>
      <th>Created</th>
      <td>{{item.created}}</td>
    </tr>
    <tr>
      <th>Mime</th>
      <td>
        <mat-form-field>
          <input type="text" matInput [(ngModel)]="item.mime" name="mime">
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <th>Author</th>
      <td>
        <mat-form-field>
          <input type="text" matInput [(ngModel)]="item.id_user" name="author" [disabled]="true">
        </mat-form-field>
      </td>
    </tr>


    <!--<tr *ngFor="let link of item.links">-->
    <!--<th>Link ({{link.type}})</th>-->
    <!--<td>{{link.uri}}</td>-->
    <!--</tr>-->
    <tr>

      <td colspan="2">
        <mat-expansion-panel>
          <mat-expansion-panel-header><h2>Links</h2></mat-expansion-panel-header>
          <app-links-list [links]="item.links" [item]="item"></app-links-list>
        </mat-expansion-panel>
      </td>
    </tr>


    <tr>

      <td colspan="2">
        <mat-expansion-panel>
          <mat-expansion-panel-header><h2>Metadata</h2></mat-expansion-panel-header>
          <app-meta-list [metakeys]="metakeys" [values]="item.metadata"></app-meta-list>
        </mat-expansion-panel>
      </td>
    </tr>
  </table>

</form>
