<a mat-raised-button class="mat-primary" [routerLink]="['/items']">< Back to list</a>

<ng-container *ngIf="item !== undefined">
  <h1>{{get_metadata(item, 'description')}}</h1>

  <app-item-preview [item]="item" [maxWidth]="800" [maxHeight]="600"></app-item-preview>
  <br>

  <h3>Item details</h3>
  <table>
    <tr>
      <th colspan="2">
        Links
      </th>
    </tr>
    <tr *ngFor="let link of item.links">
      <th>{{link.type}}</th>
      <td>
        <ng-container [ngSwitch]="link.uri.split(':')[0]">
          <ng-container *ngSwitchCase="'di'">
            <button mat-button [routerLink]="['/items/show', link.uri.split(':', 2)[1]]">
              Digital Item {{link.uri.split(':', 2)[1]}}
            </button>
          </ng-container>
          <ng-container *ngSwitchCase="'dg'">
            <button mat-button [routerLink]="['/groups/show', link.uri.split(':', 2)[1]]">
              Digital Group {{link.uri.split(':', 2)[1]}}
            </button>
          </ng-container>
          <ng-container *ngSwitchCase="'ds'">
            <button mat-button [routerLink]="['/sets/show', link.uri.split(':', 2)[1]]">
              Digital Set{{link.uri.split(':', 2)[1]}}
            </button>
          </ng-container>
          <ng-container *ngSwitchDefault>{{link.uri}}</ng-container>
        </ng-container>

      </td>
    </tr>

    <tr>
      <th colspan="2">
        Metadata
      </th>
    </tr>
    <tr *ngFor="let meta of item.metadata">
      <th>{{meta.key}}</th>
      <td>
        {{meta.value}}
      </td>
    </tr>
  </table>

  <button mat-raised-button *ngIf="nakiService.has_right(rights.Editor)" (click)="edit_item()">Edit item</button>
  <br>
  <a mat-raised-button [href]="nakiService.get_mods_url(item)">Show MODS</a>
  <br>

</ng-container>
