<h2 mat-dialog-title><ng-container *ngIf="data?.view; else newView">Edit view</ng-container><ng-template #newView>New view</ng-template></h2>
<mat-dialog-content>
  <app-edit-view [view]="data.view" [metakeys]="data.metakeys" #editComp="EditViewComponent"></app-edit-view>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button [disabled]="false" (click)="editComp.save(dialogRef)">Save</button>
  <button mat-raised-button [matDialogClose]="null">Close</button>
</mat-dialog-actions>
