<div style="margin-left: 32px; margin-top:32px;">

  <div class="mat-display-4" style="margin-bottom: 24px">EMOD</div>
  <div class="mat-display-1">Editor for description of Motion and Multimedia Data</div>
  <img src="assets/dancer01_emboss_small.jpg" style="width: 100%; max-width: 1250px">
  <div class="mat-body-2">&copy;&nbsp;2018 CTU in Prague, Faculty od Electrical Engineering, Department of Computer Graphics and Interaction</div>
  <div class="mat-body-2">The development of this project has been supported by the Ministry of Culture of the Czech
    Republic as part of the research project NAKI II Laterna magika. Past and
    Present, Documentation, Preservation and Presentation (DG16P02H005).</div>
</div>
