<table>
  <ng-container *ngIf="view?.id_view">
  <tr>
    <th>Identifikátor</th>
    <td>{{view.id_view}}</td>
  </tr>
  <tr>
    <th>Autor</th>
    <td>{{view?.id_user}}
    <ng-container *ngIf="view?.author">
      <br>{{view?.author?.fullname}}

    </ng-container>
    </td>
  </tr>
  <tr>
    <th>Vytvořeno</th>
    <td>{{view.created}}</td>
  </tr>
  </ng-container>
  <tr>
    <th>Ke zveřejnění</th>
    <td><mat-checkbox [(ngModel)]="view.public"></mat-checkbox></td>
  </tr>
  <tr>
    <td colspan="2">
      <app-meta-list [metakeys]="metakeys" [(values)]="view.metadata" [mandatory_type]="'v'" [meta_target]="'view'"></app-meta-list>
    </td>
  </tr>
</table>

