<table>
  <ng-container *ngIf="group?.id_group">
    <tr>
      <th>ID</th>
      <td>{{group.id_group}}</td>
    </tr>
    <tr>
      <th>Author</th>
      <td>{{group.id_user}}</td>
    </tr>
    <tr>
      <th>Created</th>
      <td>{{group.created}}</td>
    </tr>
  </ng-container>
  <tr>
    <th>Type</th>
    <td>
      <mat-form-field>
        <mat-select [(ngModel)]="group.type">
          <mat-option value="">Default</mat-option>
          <mat-option value="video">Video</mat-option>
          <mat-option value="image">Images</mat-option>
        </mat-select>
      </mat-form-field>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <app-meta-list [(values)]="group.metadata" [metakeys]="metakeys" mandatory_type="g"
                     meta_target="group"></app-meta-list>
    </td>
  </tr>
</table>
