<table>
  <ng-container *ngIf="user !== undefined">
    <tr>
      <th>Identifikátor</th>
      <td>{{user?.id_user}}</td>
    </tr>
    <tr>
      <th>Uživatelské jméno</th>
      <td>
        <mat-form-field>
          <input type="text" matInput [(ngModel)]="user.username">
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <th>Celé jméno</th>
      <td>
        <mat-form-field>
          <input type="text" matInput [(ngModel)]="user.fullname">
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <th>
        <ng-container *ngIf="!user?.id_user; else hasPW">Heslo</ng-container>
        <ng-template #hasPW>Aktualizovat heslo</ng-template>
      </th>
      <td>
        <mat-form-field>
          <input type="password" matInput [(ngModel)]="passwd1">
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <th>Potvrdit heslo</th>
      <td><mat-form-field>
        <input type="password" matInput [(ngModel)]="passwd2">
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <th>Role</th>
      <td>
        <mat-form-field>
          <mat-select [(ngModel)]="user.auth_level" name="auth_level" [disabled]="!nakiService.has_right(rights.Admin)">
            <mat-option [value]="rights.Guest">Host</mat-option>
            <mat-option [value]="rights.Researcher">Badatel</mat-option>
            <mat-option [value]="rights.Editor">Editor</mat-option>
            <mat-option [value]="rights.Admin">Administrátor</mat-option>
          </mat-select>
        </mat-form-field>
      </td>
    </tr>
  </ng-container>


